@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Laura Thomas<br />
    Placerville, CA<br />
    <abbr title="Phone">P:</abbr>
    530.295.2404
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:lthomas@edcoe.org">lthomas@edcoe.org</a><br />
</address>