@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Practicing Git</h1>
    <p class="lead">Change made by a colleague.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <p>Change one.</p>
    </div>
    <div class="col-md-4">
        <p>Change two.</p>
    </div>
    <div class="col-md-4">
        <p>Change three.</p>
    </div>
</div>
